@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'tailwindcss';
@import './animations.css';


@theme {

    /** Colors Palette **/
    --color-primary: #f9791e;
    --color-secondary: #91c316;
    --color-surface: var(--color-gray-800);
    --color-neutral: var(--color-gray-400);
    --color-muted: var(--color-gray-300);

    /* Hover */
    --color-hover: #ea590c;
    --color-hover-secondary: #75a20e;

    /* Text */
    --color-text: var(--color-surface);


    /** Shadows **/
    /* Normal shadow */
    --shadow-md: 5px 5px 0px 0px rgba(162, 159, 159, .25);
    --shadow-difused: 5px 5px 6px 0px rgba(162, 159, 159, .25);

    /* Hover shadow orange */
    --shadow-hover: 5px 5px 0px 0px rgba(249, 121, 30, 1);

    /* Hover shadow green */
    --shadow-hover-secondary: 5px 5px 0px 0px rgba(145, 195, 22, 1);


    /** Generals **/
    --gradient: linear-gradient(90deg, var(--color-primary) 0%, var(--color-secondary) 100%);
    --modal-color: var(--color-primary);
    --transition-duration: 200ms;
    --breakpoint-xs: 480px;
    /* Breakpoints */
    /* 
        normal (320px)
        xs (480px)
        sm	(640px)
        md	(768px)
        lg	(1024px)
        xl	(1280px)
        2xl (1536px) 
    */
}


/** ESSENTIALS **/

html {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    color: var(--color-text)
}

body {
    @apply pt-[6.7rem];
}

#root {
    @apply w-full h-full flex flex-col;
}

main {
    @apply w-full flex flex-col items-center gap-12 py-10 px-6 xs:px-12;
}


/** GENERALS **/

/* Scrollbar style */
body,
.overflow-y-auto {
    @apply [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-md [&::-webkit-scrollbar-track]:bg-gray-200 [&::-webkit-scrollbar-thumb]:bg-secondary/80 [&::-webkit-scrollbar-thumb]:cursor-pointer;
}

.overflow-y-auto {
    @apply [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar-track]:rounded-lg;
}

body::-webkit-scrollbar-thumb:hover,
.overflow-y-auto::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary;
}

/* Block scroll (for modals and burger menu) */
body.no-scroll {
    @apply overflow-hidden;
}

/* Background gradient */
.bg-gradient {
    background: var(--gradient)
}

/* Loader style */
.loading {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--color-primary);
    --_m:
        conic-gradient(#0000 10%, #000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    to {
        transform: rotate(1turn)
    }
}

/* General animation */
.animate {
    @apply transition-all duration-[var(--transition-duration)];
}

.animate--card {
    @apply transition-all duration-[var(--transition-duration)] hover:-translate-x-1 hover:-translate-y-1;
}


/** Links **/

/* Navbar items */
.link--nav {
    @apply text-lg text-white font-semibold relative;
}

/* Items hover animation */
.link--nav:after {
    display: block;
    position: absolute;
    content: '';
    background: none repeat scroll 0 0 transparent;
    background: #fff;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.link--nav:hover:after {
    width: 100%;
    left: 0;
}

/* Burger menu items size */
.link--menu {
    @apply text-3xl;
}


/** Buttons **/

.btn {
    @apply w-full bg-primary text-white hover:bg-hover text-lg font-semibold rounded-lg py-2 px-4 cursor-pointer transition-all duration-[var(--transition-duration)];
}

.btn--secondary {
    @apply bg-secondary hover:bg-hover-secondary;
}

.btn--gradient {
    background: var(--gradient);
    @apply hover:brightness-115;
}

.btn.disabled {
    @apply bg-muted/75 cursor-not-allowed;
}

.btn-icon {
    @apply rounded-xl hover:bg-gray-100/25 text-white cursor-pointer py-1 px-1 transition-all duration-[var(--transition-duration)]
}


/** Forms **/

form {
    @apply h-full;
}

input,
select,
textarea {
    @apply px-2 border-1 border-muted rounded-md h-9 focus-visible:outline-0 text-text;
}

textarea {
    @apply p-2;
}

/* Modal */
dialog {    
    @apply opacity-0 transition-all duration-550 ease-in-out;
}

/* Visible modal */
dialog.active {
    @apply opacity-100;
}

.dialog-alert.btn {
    background: var(--modal-color)
}

/* Disable default border */
*:focus-visible {
    @apply outline-0
}