---
import Layout from '@/layouts/Layout.astro'
import { PhoneIcon, OrangePhoneIcon, EmailIcon, LocationIcon } from '@/assets/icons'
import { MainHeader, Card } from '@/components/components'
import type { CardDataType } from '@/components/types'

const headerData = {
    icon: PhoneIcon.src,
    title: 'Contacto',
    description: 'Nuestra información de contacto'
}

const contactCards: CardDataType[] = [
    {
        icon: OrangePhoneIcon.src,
        title: 'Teléfono',
        description: '(123) 456-7890',
        color: 'primary',
        type: 'div'
    },
    {
        icon: EmailIcon.src,
        title: 'Email',
        description: 'rectoria@instecnico.edu.co',
        color: 'secondary',
        type: 'link',
        atributtes: {
            href: 'https://mail.google.com/mail/?view=cm&fs=1&to=rectoria@instecnico.edu.co',
            target: '_blank'
        }
    },
    {
        icon: LocationIcon.src,
        title: 'Dirección',
        description: 'Calle 3a #768 Santander de Quilichao',
        color: 'primary',
        type: 'link',
        atributtes: {
            href: 'https://maps.app.goo.gl/e27cNQvZkCB1CPtN9',
            target: '_blank'
        }
    }    
]
---

<Layout title="Contacto">
    <main>
        <MainHeader data={headerData} iconAnimation="animate__swing"/>
        <article class="flex flex-col lg:flex-row gap-14 items-center justify-center animate__animated animate__fadeIn">
            { contactCards.map(contact => <Card data={contact} width="w-[18rem] h-[11rem] xs:w-[20rem] lg:w-[15rem] 2xl:w-[18rem]"/>) }
        </article>
    </main>
</Layout>