---
import Layout from '@/layouts/Layout.astro'
import { Image } from 'astro:assets'
import Logo from '@/assets/logo.svg'
---

<Layout index>
	<main class="justify-center h-[82.5vh] bg-gradient">
		<article class="index flex flex-col items-center gap-6 text-white animate__animated animate__fadeIn">
			<Image src={Logo} alt="Instituto Tecnico Logo" class="w-16"/>
			<div class="flex flex-col items-center gap-2 uppercase">
				<h1 class="text-5xl font-bold">Institución Educativa</h1>
				<h2 class="text-3xl">Instituto Técnico</h2>
			</div>
			<p class="prose text-xl w-[31rem] text-center text-white">
				Formando líderes del futuro con excelencia académica y valores humanos.
			</p>
		</article>
	</main>
</Layout>
