---
import '@/styles/global.css'
import { ClientRouter } from 'astro:transitions'
import { Navbar, ServicesModal } from '@/components/components'
import { NavbarLoader } from '@/components/layout/Navbar'


interface Props {
	title?: string,
	index?: boolean
}
const { title, index } = Astro.props
---

<!Doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title ? `${title} | Instituto Técnico App` : 'Instituto Técnico App' }</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
		<ClientRouter />
	</head>

	<body class={index ? 'bg-gradient' : ''}>		
		<div id="root">	
			<Navbar client:only="react" >
				<NavbarLoader slot="fallback"/>
			</Navbar>					
			<slot />
		</div>		
		<ServicesModal client:only="react"/>			
	</body>
</html>